.dropdown {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.dropdown__flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

button {
  all: unset;
  cursor: pointer;
  text-align: left;
  padding: 6px 0;
}

.dropdown__btn {
  display: flex;
  align-items: center;
  transition: 0.3s all;
  color: #6b3eb2;
  font-size: 14px;
  font-weight: 500;
  max-width:min-content;
  min-width: 100px;
}

.dropdown__parent {
  font-size: 16px;
  font-weight: 600;
}

.dropdown__btn:hover {
  color:#f14c8b;
}

.dropdown__btn_sub{
  margin-left:20px;
}

.dropdown__arrow {
  transition: 0.3s all;
  width: 18px;
  stroke: #6b3eb2;
  height: 9px;
  fill: none;
  margin-left:5px;
}

.dropdown__arrow:hover {
  stroke: #f14c8b;
}

.dropdown__list {
  list-style: none;
}
.dropdown__list > li {
  padding-left: 10px;
}
.active {
  transform: rotate(180deg);
  stroke: #f14c8b;
}
.active__btn {
  color: #f14c8b;
}
