.filter__overlay {
    margin: 0;
    height: 100vh;
    width: calc(100vw - 20px);
    padding: 12px;
    box-sizing: border-box;
    position: absolute;
    top: 14vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition: 0.3s;
}

.filter__overlay_visibility_active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.container {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    z-index: 999;
}

.modal {
    max-width: 362px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    overflow-y: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 28px 24px 95px 24px;
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 4px 44px 0px #0000001A;
}

.modal__list {
    list-style-type: none;
}

.modal__list-element {
    border-bottom: 1px solid #F5F4F2;
    cursor: pointer;
}

.modal__list-element_padding_small {
    padding: 10px 0;
}

.modal__list-element_padding_bid {
    padding: 20px 0;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal__top {
    display: flex;
    justify-content: center;
    position: relative;
}

.modal__btn_close {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
}

.modal__title {
    font-weight: 700;
    color: #0B0B0B;
    font-size: 28px;
    line-height: 31.58px;
}

.modal__subtitle {
    font-weight: 400;
    color: #0B0B0B;
    font-size: 16px;
    line-height: 19.5px;
}

.modal__select {
    border-bottom: 1px solid #F5F4F2;
}

.modal__select_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal__select_btn {
    all:unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__select_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal_select_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal__btns {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 17px 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #F5F4F2;
    z-index: 9999;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
    width: 362px;
    border-radius: 0 0 0 20px;
    background-color: #fff;
}

.modal__btn_reset {
    background-color: #F5F4F2;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 19.5px;
    color: #0B0B0B;
    font-weight: 600;
    border-radius: 92px;
    transition: .3s all;
}

.modal__btn_reset:hover {
    color: #F14C8B;
}

.modal__btn_save {
    background-color: #F14C8B;
    padding: 21px 28px;
    font-size: 16px;
    line-height: 19.2px;
    color: #fff;
    font-weight: 600;
    border-radius: 4px 60px 60px 4px;
    transition: .3s all;
}

.modal__btn_save:hover {
    padding-right: 48px;
}

.close__icon {
    width: 24px;
    height: 24px;
    stroke: #0B0B0B;
    transition: .3s all;
}

.close__icon:hover {
    stroke: #F14C8B;
}

.arrowFilter__icon {
    margin:0 auto;
    width: 32px;
    height: 32px;
    stroke: inherit;
    fill: transparent;
    transition: .3s all;
}

/* .arrowFilter__icon:hover {
    stroke: #F14C8B;
} */

@media screen and (max-width: 400px) {
    .modal {
        max-width: 100%;
        border-radius: 0;
        left: 0;
        right: 0;
    }

    .modal__btns {
        width: 100%;
    }
}